<?xml version="1.0" encoding="utf-8"?>
<!--
    eduEd25519 - High-speed high-security signatures

    Copyright: 2017 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="eduEd25519.dll" Guid="{4D1F1278-9044-4AFD-98E1-71BB39FCB0F1}">
                <File Source="eduEd25519.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRAR">
            <Component Id="eduEd25519.resources.dll.ar" Guid="{D84FFABE-233E-441C-9560-0F901C9507DE}">
                <File Id="eduEd25519.resources.dll.ar" Source="ar\eduEd25519.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRDE">
            <Component Id="eduEd25519.resources.dll.de" Guid="{58969319-8ED1-4679-A8AB-DF1BE42BB8E9}">
                <File Id="eduEd25519.resources.dll.de" Source="de\eduEd25519.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRFR">
            <Component Id="eduEd25519.resources.dll.fr" Guid="{2C3F94E2-CB24-4B3A-9ADB-64A486E88FA3}">
                <File Id="eduEd25519.resources.dll.fr" Source="fr\eduEd25519.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNB">
            <Component Id="eduEd25519.resources.dll.nb" Guid="{F973CE10-AB07-4EFE-AF54-EC9732D363E1}">
                <File Id="eduEd25519.resources.dll.nb" Source="nb\eduEd25519.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNL">
            <Component Id="eduEd25519.resources.dll.nl" Guid="{3F782C2D-425F-462A-AA2F-B78193EF59D0}">
                <File Id="eduEd25519.resources.dll.nl" Source="nl\eduEd25519.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRSL">
            <Component Id="eduEd25519.resources.dll.sl" Guid="{BB1384C5-E197-4E7D-B8DE-FF2466E87FDE}">
                <File Id="eduEd25519.resources.dll.sl" Source="sl\eduEd25519.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRUK">
            <Component Id="eduEd25519.resources.dll.uk" Guid="{5EA78AD2-C483-44FE-A877-82EB8B70CE9C}">
                <File Id="eduEd25519.resources.dll.uk" Source="uk\eduEd25519.resources.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="eduEd25519.dll">
            <ComponentRef Id="eduEd25519.dll"/>
            <ComponentRef Id="eduEd25519.resources.dll.ar"/>
            <ComponentRef Id="eduEd25519.resources.dll.de"/>
            <ComponentRef Id="eduEd25519.resources.dll.fr"/>
            <ComponentRef Id="eduEd25519.resources.dll.nb"/>
            <ComponentRef Id="eduEd25519.resources.dll.nl"/>
            <ComponentRef Id="eduEd25519.resources.dll.sl"/>
            <ComponentRef Id="eduEd25519.resources.dll.uk"/>
        </ComponentGroup>
    </Fragment>
</Wix>
